@import "tailwindcss";

@utility a4-preview {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 210mm;
  height: 297mm;
  box-sizing: border-box;
  color: #000000;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 20mm;
    margin-top: 10mm;
  }
  .page-break-before {
    break-before: page;
    page-break-before: always;
  }
}

body {
  background: #14181a;
  color: #ffffff;
  font-family: var(--font-kanit), sans-serif;
  
}

/* ความกว้าง scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px; /* สำหรับ scrollbar แนวนอน */
}

/* ราง (track) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

/* ปุ่มเลื่อน (thumb) */
::-webkit-scrollbar-thumb {
  @apply bg-white/60;
  border-radius: 6px;
}

/* เมื่อ hover ที่ thumb */
::-webkit-scrollbar-thumb:hover {
  @apply bg-white;
}

button {
  @apply cursor-pointer transition-transform duration-200 hover:scale-105 hover:underline active:scale-95;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
